<div class="card horizontal">
  <div class="card-image">
    <i class="large material-icons">adb</i>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <h3 class="card-title text-primary"><span class="p-span name-title">Name: </span>{{name}}</h3>
      <p class="card-text"><span class="p-span">Id: </span>{{id}}</p>
      <p class="card-text"><span class="p-span">Email: </span>{{email}}</p>
      <p class="card-text"><span class="p-span">School: </span>{{school}}</p>
    </div>
  </div>
</div>